.heroImage {
  height: 70vh;
}
.mb {
  margin-bottom: 10vh;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.flex-direction-column {
  flex-direction: column;
}
.mt-40 {
  margin-top: 40vh;
}
.no-border {
  outline: none;
  border: none;
}
